/* <div> child of <body> */
#header {
    display: flex;
    justify-content: center;
    border: dotted;
    border-color: #1c1c1c;
    border-width: 4px;
    background-color: #dbd9d9;
    padding: 10px;
    margin: 10px;
}

/* child of <div> #header */
h1 {
    font: 50px ' Sans', sans-serif;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(242, 236, 236);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgb(4, 50, 42);
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: rgb(170, 187, 37);
}
#colorDiv {
    margin-top: auto;
    margin-bottom: auto;
    height: 35px;
    padding: 15px



}

h3{
    font-size: 14px;
    color: rgb(130,130,130);
    font-family: open sans, sans-serif;
    margin-top: auto;
    margin-bottom:auto;
    display:flex;
    flex-basis: content;
    justify-content: center;
}

/* <div> child of <body> */
#controls {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 50%;
    border-top: 4px solid rgb(174, 171, 171);
    border-left: 4px solid rgb(174, 171, 171);
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    min-height: 25px;
    background-color: rgb(228, 224, 224);
}

/*  unique id labeled children of <div> #controls> */
button {
    display: flex;
    flex-wrap: wrap;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: 10px;
    margin: 10px;
    min-height: 13px;
    background-color: rgb(178, 178, 182);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: rgb(4, 52, 38);
    cursor: pointer;
}




/* contains the container that holds the grid  */
.divContainer {
    width: auto;
    margin: auto;
    justify-content: center;
    /* border:rgb(170, 187, 37) 4px solid; */
    /* align-items: center; */
}

/* contains the grid items */
.container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    border: dotted;
    border-color: #1c1c1c;
}

.grid {
    display: flex;
    object-fit: cover;
    flex: auto;
    border: 1px solid rgba(187, 186, 186, 0.123);
    /* background-color: rgba(186, 190, 188, 0.089); */
}
